﻿@model SmartHome.Models.HomeViewModel

@if (Model.EndPoints.Any())
{

    <h2>EndPoints</h2>
    <table id="table" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EndPoints.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndPoints.FirstOrDefault().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndPoints.FirstOrDefault().Type)
                </th>
                <th>
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EndPoints)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>                                                
                        <select asp-for="@item.State" asp-items="@Model.Actions" class="custom-select js-endpoint-state" data_id="@item.Id">
                        </select>                        
                    </td>
                    <td>
                        <a asp-action="ManageRulesForEndPoint" asp-route-id="@item.Id" asp-controller="EndPoints" class="btn-light btn">Rules</a>
                        <a asp-action="Edit" asp-controller="EndPoints" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        @if (Model.IsUserCreator)
                        {
                            <a asp-action="Delete" asp-controller="EndPoints" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5>There are no endpoints added to this home</h5>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-endpoint-state').change(function () {            
            $.ajax({
                type: "POST",
                url: '/Homes/ChangeEndPointState',
                data: { id: $(this).attr("data_id"), state: $(this).val() },
                complete: function () {
                    reloadTable();
                }
            });
        });
    });
    function reloadTable() {

    }
</script>
