﻿@model SmartHome.Models.AddEndPointToHomeViewModel
@{
    ViewData["Title"] = "AddEndPointToHome";
}

<h1>Add endpoint to home</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEndPointToHome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="HomeId" class="form-control" type="hidden" />

                <label asp-for="EndPointMAC" class="control-label"></label>
                <input asp-for="EndPointMAC" class="form-control" />
                <span asp-validation-for="EndPointMAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back", "Details", new { @id = Model.HomeId }, new { @class = "btn btn-light" })
            </div>
        </form>
    </div>
</div>