﻿@model SmartHome.Models.AddUserToHomeViewModel
@{
    ViewData["Title"] = "AddUserToHome";
}

<h1>Add user to home</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserToHome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="HomeId" class="form-control" type="hidden" />

                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back", "ManageUsersInHome", new { @id = Model.HomeId },new { @class = "btn btn-light" })

            </div>
        </form>
    </div>
</div>