﻿@model SmartHome.Models.HomeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Home details - @Html.DisplayFor(model => model.Name)</h1>

@if (Model.IsUserCreator)
{
    <div class="row">
        <input type="hidden" id="homeId" name="homeId" value="@Model.Id" />
        <a asp-action="ManageUsersInHome" asp-route-id="@Model.Id" class="btn-light btn">Manage users in home</a>
        <a asp-action="AddEndPointToHome" asp-route-id="@Model.Id" class="btn-light btn">Add endpoint to home</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit home information</a>
    </div>
}

<div class="form-group mt-5">
    @await Html.PartialAsync("_EndPointsTable", Model)
</div>
<div class="row">
    <a asp-action="Index" class="btn btn-light">Back</a>
</div>