﻿@model SmartHome.Models.ManageUsersViewModel
@{
    ViewData["Title"] = "ManageUsersInHome";
}
<h1>Manage users in home</h1>

<a asp-action="AddUserToHome" asp-route-id="@Model.HomeId" class="btn-primary btn">Add user to home</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="DeleteUserFromHome" asp-route-homeId="@Model.HomeId" asp-route-email="@item.Email" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user from home?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back", "Details", new { @id = Model.HomeId }, new { @class = "btn btn-light" })

