﻿@model SmartHome.Data.DbModels.Rule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuleType" class="control-label"></label>
                <select asp-for="RuleType" class="form-control"></select>
                <span asp-validation-for="RuleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueFrom" class="control-label"></label>
                <input asp-for="ValueFrom" class="form-control" />
                <span asp-validation-for="ValueFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueTo" class="control-label"></label>
                <input asp-for="ValueTo" class="form-control" />
                <span asp-validation-for="ValueTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrom" class="control-label"></label>
                <input asp-for="TimeFrom" class="form-control" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTo" class="control-label"></label>
                <input asp-for="TimeTo" class="form-control" />
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="EndPointId" class="control-label"></label>
                <select asp-for="EndPointId" class="form-control" asp-items="ViewBag.EndPointId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
