﻿@model SmartHome.Data.DbModels.Rule

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RuleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RuleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValueFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValueFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValueTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValueTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndPoint.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="ManageRulesForEndPoint" asp-controller="EndPoints" asp-route-id="@Model.EndPointId" class="btn btn-light">Back</a>
    </form>
</div>
