﻿@model SmartHome.Data.DbModels.Rule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuleType" class="control-label"></label>
                <select id="RuleType" asp-for="RuleType"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<SmartHome.Data.Enumerables.RuleTypeEnum>()">
                </select>
                <span asp-validation-for="RuleType" class="text-danger"></span>
            </div>

            <div id="valueType">
                <div class="form-group">
                    <label asp-for="ValueFrom" class="control-label"></label>
                    <input asp-for="ValueFrom" class="form-control" />
                    <span asp-validation-for="ValueFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValueTo" class="control-label"></label>
                    <input asp-for="ValueTo" class="form-control" />
                    <span asp-validation-for="ValueTo" class="text-danger"></span>
                </div>
            </div>
            <div id="timeType" class="hide">
                <div class="form-group">
                    <label asp-for="TimeFrom" class="control-label"></label>
                    <input asp-for="TimeFrom" class="form-control" />
                    <span asp-validation-for="TimeFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeTo" class="control-label"></label>
                    <input asp-for="TimeTo" class="form-control" />
                    <span asp-validation-for="TimeTo" class="text-danger"></span>
                </div>
            </div>

            <input asp-for="EndPointId" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
                <a asp-action="ManageRulesForEndPoint" asp-controller="EndPoints" asp-route-id="@Model.EndPointId" class="btn btn-light">Back</a>


            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $("#RuleType").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue == 1) {
                    $('#valueType').hide();
                    $('#timeType').show();
                } else if (optionValue == 2) {
                    $('#valueType').show();
                    $('#timeType').hide();
                } else {
                    $('#valueType').hide();
                    $('#timeType').hide();
                }
            });
        }).change();
    });
</script>