﻿@model SmartHome.Data.DbModels.EndPoint

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EndPoint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select id="Type" asp-for="Type"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<SmartHome.Data.Enumerables.EndPointTypeEnum>()">
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <input type="hidden" class="HomeId" id="HomeId" asp-for="HomeId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Details" asp-route-id="@Model.HomeId" asp-controller="Homes" class="btn btn-light">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
