﻿@model EndPointRulesTableViewModel
@{
    ViewData["Title"] = "ManageRulesForEndPoint";
}

<h1>@ViewBag.Title</h1>

<a asp-action="AddRuleToEndPoint" asp-route-id="@Model.EndPointId" class="btn-success btn">New rule</a>

@if (Model.Items.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Items)
            {
                <tr>
                    <td>
                        @i.Name
                    </td>
                    <td>
                        @i.RuleType
                    </td>
                    <td>
                        @if (i.RuleType == SmartHome.Data.Enumerables.RuleTypeEnum.TimeBased)
                        {
                            @i.TimeFrom
                        }
                        else
                        {
                            @i.ValueFrom
                        }
                    </td>
                    <td>
                        @if (i.RuleType == SmartHome.Data.Enumerables.RuleTypeEnum.TimeBased)
                        {
                            @i.TimeTo
                        }
                        else
                        {
                            @i.ValueTo
                        }
                    </td>
                    <td>                                                
                        <a asp-action="Edit"  asp-controller="Rules" asp-route-id="@i.Id" class="btn btn-warning">Edit</a>
                        @if (Model.IsUserCreator)
                        {
                            <a asp-action="Delete"  asp-controller="Rules" asp-route-id="@i.Id" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>There are no rules for this EndPoint</h4>
}
<a asp-action="Details" asp-controller="Homes" asp-route-id="@Model.HomeId" class="btn btn-light">Back</a>
